body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
  }
  
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  header h1 a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .nav-left {
    margin-right: auto;
  }
  
  .nav-right {
    display: flex;
    padding-top: 2rem;
  }
  
  .posts {
    margin-top: 10rem;
  }

  .new-post {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }

  .new-post:hover {
    transition-duration: 0.4s;
    background-color: #008CBA; /* blue */
  }

  .new-post a {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;

  }

  .edit-post {
    
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }

  .edit-post:hover {
    transition-duration: 0.4s;
    background-color: #4CAF50; /* Green */
  }

  .edit-post a {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;

  }


  .delete-post {
    
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }

  .delete-post:hover {
    transition-duration: 0.4s;
    background-color: #f44336; /* Red */
  }

  .delete-post a {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;

  }

  .login {
    color: white;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .login a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
  }


  .post-entry {
    margin-bottom: 2rem;
  }
  
  .post-entry h2 {
    margin: 0.5rem 0;
  }
  
  .post-entry h2 a,
  .post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
  }
  
  .post-entry p {
    margin: 0;
    font-weight: 400;
  }
  
  .post-entry h2 a:hover {
    color: red;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }